<div class="bg-dark text-white vh-100 p-3" style="width:260px; position:fixed;">

    <h3 class="text-center mb-4">
        🏋️ Beast Fitness
    </h3>

    <hr>

    <a href="#" class="text-white text-decoration-none d-block py-2">
        🏠 Dashboard
    </a>

    <a href="/members/" class="text-white d-block py-2 text-decoration-none">
    👥 Members
    </a>

    <a href="/payments/" class="text-white d-block py-2 text-decoration-none">
    💰 Payments
</a>

    <a href="#" class="text-white text-decoration-none d-block py-2">
        📷 Attendance
    </a>

    <a href="#" class="text-white text-decoration-none d-block py-2">
        👨‍💼 Staff
    </a>

    <a href="#" class="text-white text-decoration-none d-block py-2">
        📊 Reports
    </a>

    <a href="#" class="text-white text-decoration-none d-block py-2">
        ⚙️ Settings
    </a>

    <a href="#" class="text-danger text-decoration-none d-block mt-5">
        🚪 Logout
    </a>

</div>