{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow-lg p-5">

        <h1 class="text-center">
            🏋️ Beast Fitness
        </h1>

        <h3 class="text-center text-success">
            Gym Management System
        </h3>

        <hr>

        <div class="row text-center mt-4">

            <div class="col-md-3">
                <div class="card p-3">
                    <h5>Total Members</h5>
                    <h2>0</h2>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card p-3">
                    <h5>Today's Attendance</h5>
                    <h2>0</h2>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card p-3">
                    <h5>Pending Fees</h5>
                    <h2>0</h2>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card p-3">
                    <h5>Today's Collection</h5>
                    <h2>₹0</h2>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}